@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
    background-color: #ffffff;
    font-family: 'Raleway';
      line-height: 150%;
}

img {
  display: block;
  margin: auto;
}

a {
  margin: 200px 100px 200px 100px;
  text-decoration: none;

}
